{% extends 'website/layout.html' %}
{% load static %}

{% block body %}
            <!-- Page Content-->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                                <!-- Download resume button-->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                                <a class="btn btn-primary px-4 py-3" href="{% static 'assets/JKuehn_Resume.pdf' %}">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Download Resume
                                </a>
                            </div>
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">2021 - Present</div>
                                                <div class="small fw-bolder">Production Director & Campus Pastor</div>
                                                <div class="small text-muted">Christ Place</div>
                                                <div class="small text-muted">Lincoln, NE</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Responsible for all technical aspects of weekend services, and pastoring of an extension campus in Lincoln, NE. Key responsibilities include 
                                            team development, integration of new technologies to enhance weekend experience to include all audio, video, and lighting aspects of Christ Place Church.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">2016 - 2021</div>
                                                <div class="small fw-bolder">Youth Pastor</div>
                                                <div class="small text-muted">The Assembly</div>
                                                <div class="small text-muted">Siloam Springs, AR</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Led The Assembly's youth ministry through team development and weekly services. Pioneered a college extension site for continued
                                            education, and integrated a multi-camera live streaming experience with discreet broadcast audio for better viewer experience.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Education Section-->
                        <section>
                            <h2 class="text-secondary fw-bolder mb-4">Education & Certifications</h2>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2023</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">HarvardX</div>
                                                    <div class="small text-muted">edx.org</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Certification</div>
                                                    <div class="small text-muted">CS50: Intro To Computer Science</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>This certification teaches how to think algorithmically and solve problems efficiently.
                                             Topics include abstraction, algorithms, data structures, encapsulation, resource management, security, software engineering, and 
                                             web programming. Languages include C, Python, and SQL plus HTML, CSS, and JavaScript. </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2022</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">IBM</div>
                                                    <div class="small text-muted">IBM Z Xplore</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Certification</div>
                                                    <div class="small text-muted">Z Xplore Concepts</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>This badge test skills in the IBM Z operating environment to include JCL (Job Control Language), USS (Unix System Services), writing and debug
                                            ging Python, and orchestrating actions through IBM Z Open Automation Utlities. </div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 3-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2017-2019</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Southwestern Assemblies of God University</div>
                                                    <div class="small text-muted">Waxihachie, TX</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Masters</div>
                                                    <div class="small text-muted">Biblical Theology</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>The Master of Bible and Theology trains for advanced knowledge in the study, 
                                            interpretation, and application of the Word of God. Employ analytical thinking and utilize basic disciplines 
                                            and methodologies for independent study of Scripture for your ministry.
                                        </div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Divider-->
                        <div class="pb-5"></div>
                        <!-- Skills Section-->
                        <section>
                            <!-- Skillset Card-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <!-- Professional skills list-->
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Development</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL Database Design</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Jam Stack</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python For Web Dev</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Linux Bash Scripting</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Flask Framework</div></div>
                                        </div>
                                    </div>
                                    <!-- Languages list-->
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Python</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}
